[submodule "react-sheet-slide"]
	path = packages/react-sheet-slide
	url = https://github.com/tigerhix/react-sheet-slide.git
[submodule "packages/comic-text-detector"]
	path = packages/comic-text-detector
	url = https://github.com/TigerHix/comic-text-detector.git
[submodule "packages/ichiran"]
	path = packages/ichiran
	url = https://github.com/TigerHix/ichiran.git
